@import "tailwindcss";

@theme {
  --color-primary: #000000;
  --color-accent: #00ffcc;
  --font-sans: "Inter", system-ui, sans-serif;
}

@layer base {
  body {
    background-color: var(--color-primary);
    color: white;
    overflow-x: hidden;
  }
}
